<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.unistrong.demo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.unistrong.demo.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.unistrong.demo.CanActivity"
            android:label="CAN"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.unistrong.demo.OBDIIActivity"
            android:label="OBDII"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.unistrong.demo.J1939Activity"
            android:label="J1939"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.unistrong.demo.MCUInfoActivity"
            android:label="McuInfo"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.unistrong.demo.UartActivity"
            android:label="Uart"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustNothing" />
    </application>

</manifest>