<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.unistrong.demo">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.RECORD_VIDEO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CanActivity"
            android:label="CAN"
            android:screenOrientation="landscape" />
        <activity
            android:name=".OBDIIActivity"
            android:label="OBDII"
            android:screenOrientation="landscape" />
        <activity
            android:name=".J1939Activity"
            android:label="J1939"
            android:windowSoftInputMode="adjustNothing"
            android:screenOrientation="landscape" />
        <activity
            android:name=".MCUInfoActivity"
            android:label="McuInfo"
            android:screenOrientation="landscape" />
        <activity
            android:name=".UartActivity"
            android:label="Uart"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".AllActivity2"
            android:label="@string/title_activity_all"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".gps.GPSActivity"
            android:label="GPS"
            android:screenOrientation="landscape" />
        <activity
            android:name=".dashboard.DashboardActivity"
            android:label="CarDashboard"
            android:screenOrientation="landscape" />

        <service android:name=".cvbsVideo.VideoService" />

    </application>

</manifest>